:root {
  --dark-bg-1: #212121;
  --dark-bg-2: #424242;
  --dark-bg-3: #636363;
  --dark-bg-4: #747474;
  --dark-bg-5: #858585;

  --btn-on: white;
  --btn-off: #424242;
}

html {
  background-color: var(--dark-bg-1);
  min-height: 100vh;
}

body {
  margin: 0;
}

#flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  background-color: var(--dark-bg-3);
}

#header-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0 10px 10px;
}

#about {
  background-color: var(--dark-bg-3);
  padding: 10px;
}

footer {
  width: 100%;
  /* Temp Height */
  height: 50px;
  /* margin: 0; */

  background-color: var(--dark-bg-3);

  /* Keep if Content does not exceed viewport height */
  /* position: absolute; */
  /* bottom: 0; */
}

#app {
  width: 100%;
  padding: 50px 0 50px 0;
  background-color: var(--dark-bg-2);

  margin: 0 auto;
}

#app > .container {
  width: 500px;
  height: 500px;
  background-color: var(--dark-bg-3);
  margin: 0 auto;
  padding: 10px;

  display: grid;

  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;

  justify-items: center;
}

#app > .container > .light {
  height: 99%;
  width: 99%;

  margin: 0;
  padding: 0;
}
